.App-Container {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
}

.App {
    grid-row: 1;
    grid-column: 1;
    z-index: 10;
    /* display: none; */
}

.App-Background {
    grid-row: 1;
    grid-column: 1;
    z-index: -1;
    height: 100%;
}

.Title {
    color: #363636
}